<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614653224199-tghd0thvjit872c7rjm3lip1sm5ih6c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614653224199-tghd0thvjit872c7rjm3lip1sm5ih6c6</string>
	<key>API_KEY</key>
	<string>AIzaSyB4X1JDyTR89rqTzUAp8-Ch3cLRMcpBS3U</string>
	<key>GCM_SENDER_ID</key>
	<string>614653224199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.awsome.app.audiobookonline</string>
	<key>PROJECT_ID</key>
	<string>audiobook-7bd72</string>
	<key>STORAGE_BUCKET</key>
	<string>audiobook-7bd72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614653224199:ios:1a9fe9cd180938de9c11a2</string>
	<key>DATABASE_URL</key>
	<string>https://audiobook-7bd72.firebaseio.com</string>
</dict>
</plist>